<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= WRKCHAIN_NAME%> Stock Event Listener</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><%= WRKCHAIN_NAME%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">Stock Watcher</a></li>
            <li class="nav-item"><a class="nav-link" href="/wrkoracle">WRKOracle Watcher</a></li>
            <li class="nav-item"><a class="nav-link" href="/validate">WRKChain Block Validation</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        <br>
    <h1 class="mt-5">Stock Listener</h1>

    <p class="lead">
      Check in here to see discrepencies between different sources.
    </p>
        <br>
    <p id="no_data"></p>

    <div id="oracle_container">

        <p>Track:
            <select id="tracker_select">
                <option value="all">All</option>
            <% for(var i=0; i < TRACKED_TICKERS.length; i++) {%>
                <option value="<%= TRACKED_TICKERS[i] %>" <% if(TRACKED_TICKERS[i] == TICKER) { %>selected="selected" <% } %>>
                    <%= TRACKED_TICKERS[i] %>
                </option>
            <% } %>
            </select>
        </p>


        <div>
            <h2>Latest Stocks Submitted</h2>
            <table>
                <thead>
                <tr>
                    <th style="width: 70px;">Ticker</th>
                    <th style="width: 150px;">Price</th>
                    <th style="width: 200px;">Time</th>
                    <th style="width: 150px;">Oracle</th>
                </tr>
                </thead>
                <tbody id="stock_table">

                </tbody>
            </table>

        </div>

      <div>
            <h2>Discrepancies found</h2>
            <table>
                <thead>
                <tr>
                    <th style="width: 50px;">Ticker</th>
                    <th style="width: 150px;">Alpha Vantage</th>
                    <th style="width: 150px;">World Trading Data</th>
                    <th style="width: 150px;">IEX</th>
                    <th style="width: 170px;">Time</th>
                    <th style="width: 50px;">Threshold</th>
                </tr>
                </thead>
                <tbody id="disc_table">

                </tbody>
            </table>

        </div>
    </div>



    </main>

    <footer class="footer">
    <div class="container">
        <span class="text-muted"></span>
    </div>
    </footer>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/web3.min.js"></script>
    <script type="text/javascript" src="js/FinchainDiscrepencyWatcher.proto.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>


<script type="text/javascript">

     $(document).ready(function () {

        let tm = <%= UPDATE_TIME%>;
        let tmObj = secondsToTime(tm)
        $('#next_check').text(tmObj.h + ":" + tmObj.m + ":" + tmObj.s)

        <% if (locals.TICKER) { %>
        let ticker = "<%= TICKER%>";
        <% } else { %>
        let ticker = null;
        <% } %>

        let finchainDiscrepencyWatcher = new FinchainDiscrepencyWatcher('<%= FINCHAIN_ORACLE_CONTRACT_ADDRESS%>',
                                                                        '<%= WRKCHAIN_WEB3_PROVIDER_URL%>',
                                                                         <%- JSON.stringify(FINCHAIN_ORACLE_ABI)%>);
        updateWatcher();

        function updateWatcher() {
            $('#status').text("Fetching data");
            $('#next_check_secs').text(<%= UPDATE_TIME%>);
            finchainDiscrepencyWatcher.getLatestDiscrepencies(ticker, function(success, data) {
                if(success && data != undefined) {
                    $('#disc_table').html('');
                    for (i = 0; i < data.length; i++) {
                        let evnt = data[i];
                        let trHtml = '<tr>';
                        trHtml += '<td>' + evnt.returnValues._ticker + '</td>';
                        trHtml += '<td>$' + parseFloat(evnt.returnValues._price1) / 100 + '</td>';
                        trHtml += '<td>$' + parseFloat(evnt.returnValues._price2) / 100 + '</td>';
                        trHtml += '<td>$' + parseFloat(evnt.returnValues._price3) / 100 + '</td>';
                        trHtml += '<td>' + timeConverter(evnt.returnValues._timestamp) + '</td>';
                        trHtml += '<td>$' + parseFloat(evnt.returnValues._threshold) / 100 + '</td>';
                        trHtml += '</tr>';

                        $('#disc_table').append(trHtml);
                    }
                } else {
                    console.log(data);
                    $('#status').text("Please refresh to try again");
                }
            });

            finchainDiscrepencyWatcher.getLatestStocks(ticker, function(success, data) {
                if(success && data != undefined) {
                    $('#stock_table').html('');
                    for (i = 0; i < data.length; i++) {
                        let evnt = data[i];

                        let trHtml = '<tr>';
                        trHtml += '<td>' + evnt.returnValues._ticker + '</td>';
                        trHtml += '<td>$' + parseFloat(evnt.returnValues._price) / 100 + '</td>';
                        trHtml += '<td>' + timeConverter(evnt.returnValues._timestamp) + '</td>';
                        trHtml += '<td>' + evnt.returnValues._source + '</td>';
                        trHtml += '</tr>';

                        $('#stock_table').append(trHtml);
                    }
                } else {
                    console.log(data);
                    $('#status').text("Please refresh to try again");
                }
            });

        }

        function timeConverter(UNIX_timestamp){
            var a = new Date(UNIX_timestamp * 1000);
            var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
            var year = a.getFullYear();
            var month = months[a.getMonth()];
            var date = a.getDate();
            var hour = "0" + a.getHours();
            var min = "0" + a.getMinutes();
            var sec = "0" + a.getSeconds();

            var time = date + ' ' + month + ' ' + year + ' ' + hour.substr(-2) + ':' + min.substr(-2) + ':' + sec.substr(-2) ;
            return time;
        }

        function secondsToTime(secs) {
            secs = Math.round(secs);
            var hours = Math.floor(secs / (60 * 60));

            var divisor_for_minutes = secs % (60 * 60);
            var minutes = Math.floor(divisor_for_minutes / 60);

            var divisor_for_seconds = divisor_for_minutes % 60;
            var seconds = divisor_for_seconds;

            var obj = {
                "h": hours,
                "m": minutes,
                "s": seconds
            };
            return obj;
        }

        $('#tracker_select').change(function(){
            let ticker = $("#tracker_select option:selected").val();
            if(ticker == "all") {
            window.location = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port;
            } else {
                window.location = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/?ticker=" + ticker;
            }
        });
    });
</script>
</body>
</html>
