<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= WRKCHAIN_NAME%> Block Event Listener</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><%= WRKCHAIN_NAME%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Event Listener</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        <br>
    <h1 class="mt-5">Block Listener</h1>

    <p class="lead">
      Check in here to see discrepencies between different sources.
      <br>
      <strong>Next check:</strong> <span id="next_block"><%= UPDATE_TIME %></span>
            
    </p>
        <br>
    <p id="no_data"></p>

    <div id="oracle_container">

      <h2>Discrepency found : <span id="is_found"></span></h2>
      <table>
        <tr>
            <td><strong>Oracle #1: </strong></td>
          <td><span id="oracle_1_ticker"><%= TICKER1 %></span> <span id="oracle_1_price"><%= PRICE1 %></span> </td>
        <tr>
        <tr>
          <td><strong>Oracle #2: </strong></td>
          <td><span id="oracle_2_ticker"><%= TICKER2 %></span> <span id="oracle_2_price"><%= PRICE2 %></span></td>
        <tr>
        <tr>
          <td><strong>Oracle #3:</strong> </td>
          <td><span id="oracle_3_ticker"><%= TICKER3 %></span> <span id="oracle_3_price"><%= PRICE3 %></span></td>
        <tr>
        <tr>
        <td><strong>Transaction Hash: </strong> </td>
        <td><span id="txhash"><%= TXHASH %></span></td>
        <tr>
        <tr>
        <td><strong>Time Found:</strong> </td>
        <td><span id="date"><%= DATE %></span></td>
        
      </table>
    </div>

    </main>

    <footer class="footer">
    <div class="container">
        <span class="text-muted"></span>
    </div>
    </footer>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/web3.min.js"></script>
    <script type="text/javascript" src="js/Finchainevents.proto.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        $('#no_data').hide();
        $('#oracle_container').show();
        
        setInterval(function(){
            nextCheck();
        }, 1000);

        showEvent();
        setInterval(function(){
            showEvent();
        }, 1000 );

        function showEvent() {
          
          if(FOUND == "true"){

              document.getElementById("is_found").innerHTML = "YES";
              $('#is_found').text(FOUND);
              $('#oracle_1_ticker').text(TICKER1);
              $('#oracle_1_price').text(PRICE1);          
              $('#oracle_2_ticker').text(TICKER2);
              $('#oracle_2_price').text(PRICE2);
              $('#oracle_3_ticker').text(TICKER3);
              $('#oracle_3_price').text(PRICE3);
              $('#txhash').text(TXHASH)
          }
              
      }

        function nextCheck() {
            let current = parseInt($('#next_block').text());
            let next = current - 1;
            if(next < 0) {
                next = <%= UPDATE_TIME %>;
            }
            $('#next_block').text(next)
            $('#next_block').css('color','red')
        }

    });
</script>
</body>
</html>
