<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= WRKCHAIN_NAME%> Block Validator</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><%= WRKCHAIN_NAME%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">$tock Watcher</a></li>
            <li class="nav-item"><a class="nav-link" href="/wrkoracle">WRKOracle Watcher</a></li>
            <li class="nav-item active"><a class="nav-link" href="/validate"><%= WRKCHAIN_NAME%> Block Validation</a></li>
            <li class="nav-item"><a class="nav-link" href="<%= WRKCHAIN_EXPLORER_URL%>" target="_blank"><%= WRKCHAIN_NAME%> Block Explorer</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        <br>
    <h1 class="mt-5"><%= WRKCHAIN_NAME%> Block Validation</h1>


    <div class="form-group">
        <table>
            <tbody>
            <tr>
                <td>
                    Check <%= WRKCHAIN_NAME%> Block #
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm" id="block_num"<% if (locals.BLOCK_NUM) { %> value="<%= BLOCK_NUM%>" <% } %>>
                </td>
                <td>
                    <button id="check_block" class="btn">Check</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <p id="no_data"></p>

    <div id="validation_container" style="visibility:none;">

      <h2><%= WRKCHAIN_NAME%> Block #<span id="block_num_title"></span> <span id="block_valid"></span></h2>

      <h3>Block Hashes</h3>

      <table class="table table-dark">
        <tr>
            <td><strong><%= WRKCHAIN_NAME%> actual: </strong></td>
          <td><span id="block_hash"></span></td>
        <tr>
        <tr>
          <td><strong>WRKChain Root on Mainchain: </strong></td>
          <td><span id="wrkchain_root_hash"></span></td>
        <tr>
        <tr>
          <td><strong>Valid:</strong> </td>
          <td><span id="hash_valid"></span></td>
        <tr>
      </table>

      <h3>Parent Hash</h3>

      <table class="table table-dark">
        <tr>
          <td><strong><%= WRKCHAIN_NAME%> actual: </strong></td>
          <td><span id="parent_block_hash"></span></td>
        <tr>
        <tr>
          <td><strong>WRKChain Root on Mainchain: </strong></td>
          <td><span id="parent_wrkchain_root_hash"></span></td>
        <tr>
        <tr>
          <td><strong>Valid: </strong></td>
          <td><span id="parent_hash_valid"></span></td>
        <tr>
      </table>

      <h3>Tx Merkle Root</h3>

      <table class="table table-dark">
        <tr>
          <td><strong><%= WRKCHAIN_NAME%> actual:</strong> </td>
          <td><span id="block_tx_root"></span></td>
        <tr>
        <tr>
          <td><strong>WRKChain Root on Mainchain: </strong></td>
          <td><span id="wrkchain_tx_root"></span></td>
        <tr>
        <tr>
          <td><strong>Valid: </strong></td>
          <td><span id="tx_root_valid"></span></td>
        <tr>
      </table>

      <h3>State Merkle Root</h3>

      <table class="table table-dark">
        <tr>
          <td><strong><%= WRKCHAIN_NAME%> actual:</strong> </td>
          <td><span id="block_state_root"></span></td>
        <tr>
        <tr>
          <td><strong>WRKChain Root on Mainchain: </strong></td>
          <td><span id="wrkchain_state_root"></span></td>
        <tr>
        <tr>
          <td><strong>Valid: </strong></td>
          <td><span id="state_root_valid"></span></td>
        <tr>
      </table>

      <h3>Receipts Merkle Root</h3>

      <table class="table table-dark">
        <tr>
          <td><strong><%= WRKCHAIN_NAME%>: </strong></td>
          <td><span id="block_receipts_root"></span></td>
        <tr>
        <tr>
          <td><strong>WRKChain Root on Mainchain: </strong></td>
          <td><span id="wrkchain_receipts_root"></span></td>
        <tr>
        <tr>
          <td><strong>Valid:</strong> </td>
          <td><span id="receipts_root_valid"></span></td>
        <tr>
      </table>

        <h2>Mainchain Proof</h2>

        <table class="table table-dark">
            <tr>
                <td>Mainchain Tx</td>
                <td><a id="mainchain_tx" target="_blank"></a></td>
            </tr>
            <tr>
                <td>Block</td>
                <td><a id="mainchain_block" target="_blank"></a></td>
            </tr>
            <tr>
                <td>From</td>
                <td><a id="mainchain_from" target="_blank"></a></td>
            </tr>
            <tr>
                <td>PubKey Type</td>
                <td><span id="mainchain_sig_pubkey_type"></span></td>
            </tr>
            <tr>
                <td>PubKey</td>
                <td><span id="mainchain_sig_pubkey"></span></td>
            </tr>
            <tr>
                <td>Signature</td>
                <td><span id="mainchain_sig"></span></td>
            </tr>
            <tr>
                <td>Raw data</td>
                <td><span id="mainchain_raw_data" class="tx_input_data"></span></td>
            </tr>
            <tr>
                <td>Tx Timestamp</td>
                <td><span id="mainchain_tx_timestamp" class="tx_input_data"></span></td>
            </tr>
        </table>

    </div>

    </main>

    <footer class="page-footer font-small pt-4">
        <div class="container">
            <a href="https://unification.com"> unification.com</a> | <a href="https://github.com/unification-com/finchain">View on Github</a>
        </div>
    </footer>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/web3.min.js"></script>
    <script type="text/javascript" src="/js/WRKChainRoot.proto.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#no_data').hide();
        $('#validation_container').hide();

        let wrkChainRoot = new WRKChainRoot('<%= MAINCHAIN_REST_URL%>',
                                <%= WRKCHAIN_ID%>,
                                '<%= WRKCHAIN_WEB3_PROVIDER_URL%>',
                                );

        $('#check_block').click(function() {
          let block_num = $('#block_num').val();
          validateBlock(block_num);
          return false;
        });

        <% if (locals.BLOCK_NUM) { %>
        validateBlock(<%= BLOCK_NUM%>);
        <% } %>

        function validateBlock(block_num) {
            $('#no_data').html('<table class="table table-dark"><tr><td><div class="load-container"><div class="loader">Loading...</div></div></td></tr></table>');
            $('#no_data').show();
            $('#validation_container').hide();

            wrkChainRoot.validateBlock(block_num, function(block, root_data) {

                if(root_data === undefined) {
                  $('#no_data').text('No data currently stored in WRKChain Root on Mainchain for Block #' + block_num);
                  $('#no_data').show();
                  $('#validation_container').hide();
                  return;
                }
                if(root_data.length === 0) {
                  $('#no_data').text('No data currently stored in WRKChain Root on Mainchain for Block #' + block_num);
                  $('#no_data').show();
                  $('#validation_container').hide();
                  return;
                }

                let txData = root_data[0];
                let msg = txData.tx.value.msg[0].value;

                $('#validation_container').show();
                $('#no_data').text('');
                $('#no_data').hide();

                $('#block_num_title').text(block_num);

                hash_valid = false;
                parent_hash_valid = false;
                tx_valid = false;
                state_valid = false;
                receipts_valid = false;

                //Block hash
                $('#block_hash').text(block.hash);
                $('#wrkchain_root_hash').text(msg.blockhash);
                if(msg.blockhash == block.hash) {
                  $('#hash_valid').text("YES");
                  $('#hash_valid').css('color', 'green');
                  hash_valid = true;
                } else {
                  $('#hash_valid').text("NO");
                  $('#hash_valid').css('color', 'red');
                }

                //Parent Hash
                $('#parent_block_hash').text(block.parentHash);
                $('#parent_wrkchain_root_hash').text(msg.parenthash);
                if(msg.parenthash == block.parentHash) {
                  $('#parent_hash_valid').text("YES");
                  $('#parent_hash_valid').css('color', 'green');
                  parent_hash_valid = true;
                } else {
                  $('#parent_hash_valid').text("NO");
                  $('#parent_hash_valid').css('color', 'red');
                }

                //Tx Root
                $('#block_tx_root').text(block.transactionsRoot);
                $('#wrkchain_tx_root').text(msg.hash2);
                if(msg.hash2 == block.transactionsRoot) {
                  $('#tx_root_valid').text("YES");
                  $('#tx_root_valid').css('color', 'green');
                  tx_valid = true;
                } else {
                  $('#tx_root_valid').text("NO");
                  $('#tx_root_valid').css('color', 'red');
                }

                //State Root
                $('#block_state_root').text(block.stateRoot);
                $('#wrkchain_state_root').text(msg.hash3);
                if(msg.hash3 == block.stateRoot) {
                  $('#state_root_valid').text("YES");
                  $('#state_root_valid').css('color', 'green');
                  state_valid = true;
                } else {
                  $('#state_root_valid').text("NO");
                  $('#state_root_valid').css('color', 'red');
                }

                //Receipts Root
                $('#block_receipts_root').text(block.receiptsRoot);
                $('#wrkchain_receipts_root').text(msg.hash1);
                if(msg.hash1 == block.receiptsRoot) {
                  $('#receipts_root_valid').text("YES");
                  $('#receipts_root_valid').css('color', 'green');
                  receipts_valid = true;
                } else {
                  $('#receipts_root_valid').text("NO");
                  $('#receipts_root_valid').css('color', 'red');
                }

                if( hash_valid &&
                parent_hash_valid &&
                tx_valid&&
                state_valid &&
                receipts_valid) {
                  $('#block_valid').text("IS VALID");
                  $('#block_valid').css('color', 'green');
                  receipts_valid = true;
                } else {
                  $('#block_valid').text("IS NOT VALID");
                  $('#block_valid').css('color', 'red');
                }

                //Mainchain Proof
                if(txData != undefined) {
                    $('#mainchain_tx').text(txData.txhash);
                    $('#mainchain_tx').attr('href','<%= MAINCHAIN_EXPLORER_URL%>/transactions/' + txData.txhash);

                    $('#mainchain_block').text(txData.height);
                    $('#mainchain_block').attr('href','<%= MAINCHAIN_EXPLORER_URL%>/blocks/' + txData.height);
                    $('#mainchain_from').text(txData.logs[0].events[0].attributes[1].value);
                    $('#mainchain_from').attr('href','<%= MAINCHAIN_EXPLORER_URL%>/account/' + txData.logs[0].events[0].attributes[1].value);


                    $('#mainchain_sig_pubkey_type').text(txData.tx.value.signatures[0].pub_key.type);
                    $('#mainchain_sig_pubkey').text(txData.tx.value.signatures[0].pub_key.value);
                    $('#mainchain_sig').text(txData.tx.value.signatures[0].signature);
                    $('#mainchain_raw_data').text(txData.raw_log);
                    $('#mainchain_tx_timestamp').text(txData.timestamp);
                }

            });
        }

    });
</script>
</body>
</html>
